p#msg_empty {
    display: none;
    /* Rotate div */-ms-transform: rotate(90deg); /* IE 9 */-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */transform: rotate(90deg);
}

div#gmap {
    display: none;
    width: 300%;
    height: 300px;
    border: 1px solid #000000;
}

button#refresh {
        margin-top: 10px;
}

button#gcb {
    margin-top: 10px;
}


.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
/* just apply some height and width to the wrapper.*/
.mg-image {
  /*overflow: auto;*/
  width: 400px;height: 400px;/* Rotate div */-ms-transform: rotate(90deg); /* IE 9 */-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */transform: rotate(90deg);
}

.zit
{
    position:relative;
    width:100px;
    height:80px;
    left:0px;
    top:0px;
    border:1px solid black;
    transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -o-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -moz-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
}

.zit:hover
{
    width:150px;
    height:120px;
    left:25px;
    top:-25px;
    z-index:9999;
}

.ZoomIt ul
{
    clear:left;
}
.ZoomIt li
{
    width:102px;
    height:82px;
    margin:4px;
    float: left; 
    overflow:visible;
    display: block; 
}


#images-box {
    /* The total width of the image-box, mainly for centering */
    width: 850px;
    margin: 0px auto;
    position: relative;
    top: 70px;
}
 
.image-lightbox img {
    /* Inherit the width and height from the parent element */
    width: inherit;
    height: inherit;
    z-index: 3000;
}
 
.holder {
    /* The width and height, you can change these */
    width: 250px;
    height: 166px;
    /* Float left, so everything aligns right */
    float: left;
    margin: 0 20px 0 0;
}
 
.image-lightbox {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: 10px;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 0;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
  
.image-lightbox span {
    display: none;
}
 
.image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4000;
    background: rgba(0,0,0,0); /* Fixes an IE bug */
    left: 0;
}
 
.image-lightbox .close {
    position: absolute;
    width: 20px; height: 20px;
    right: 20px; top: 20px;
}
 
.image-lightbox .close a {
    height: auto; width: auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 5px;
    font-weight: bold;
    float: right;
}
 
.image-lightbox .close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}

div#image-1 { left: 0; }
div#image-2 { left: 290px; }
div#image-3 { left: 580px; }

div[id^=image]:target {
    width: 450px;
    height: 300px;
    z-index: 5000;
    top: 50px;
    left: 200px;
}
div[id^=image]:target .close {
    display: block;
}
 
div[id^=image]:target .expand {
    display: none;
}
 
div#image-1:target, div#image-2:target, div#image-3:target { left: 200px; }


#thumbwrap {
    margin:0px auto;
    /*width:100px; height:100px;*/
}
.thumb {
    /*float:right;  must be floated for same cross browser position of larger image 
    position:relative;*/
    margin:10px;
}
.test img { 
    /*border:1px solid #000;*/
    /*vertical-align:bottom;*/

    margin-left: -250px;
    margin-top: -250px;
    top: 40%;
    right: 0%;
    width: 500px;
    z-index: 2147483647;
    position: fixed;
    height: 500px;
    
}
.thumb:hover {
    border:0; /* IE6 needs this to show large image */
    /*z-index:1;*/
}
.thumb .test{ 
    position:absolute;
    display: none;
    margin-top: 20px;
}
.thumb:hover .test{ 
    display: block;
    width:100px; height:100px;
    /*top:20px; left:0px; */
}


#MainImages {
    background: black;
    width: 100%;
    height: 200px;
}

#MainImages img {

    cursor: pointer;
    height: 50%;
}

#Fullscreen {

    height: 100%;

    display: none;

    position:fixed;

    top:0;

    right:0;

    bottom:0;

    left:0;

    /* I made a 50% opacity black tile background for this 
     div so it would seem more... modal-y*/

    background: transparent url('http://asherman1986-001-site2.smarterasp.net/Images/SiteImages/bgTile_black25.png') repeat;

}
#Fullscreen img{
height: 100%;
display: block;
margin: 0 auto;
}
}